@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
  font-family: 'Noto Sans', sans-serif
}
@layer components{
  .text-gradient{
    @apply w-fit bg-clip-text ;
    background: linear-gradient(#9092fb,#86b5ef,#7bdde2);
    -webkit-text-fill-color: transparent;
  }
}
